<div class="main-container">

    <app-search-bar (movieFromSearchBar)="onMovieSelected($event)"></app-search-bar>

    <nz-pagination id="main-table-pagination" [nzPageSize]="6" [nzTotal]="allUserMovies.length"
        [nzShowSizeChanger]="false" (nzPageIndexChange)="onPageIndexChanged($event)"></nz-pagination>

        <div class="button-add">
            <button nz-button nzType="default" nzShape="circle">
                    <span nz-icon nzType="plus" nzTheme="outline"></span></button>
            <button nz-button (click)="logOut()" nzType="default" nzShape="circle">
                    <span nz-icon nzType="logout" nzTheme="outline"></span></button>
        </div>
            

    <div *ngIf="infoMovie != undefined" class="info">
        <img src="{{ infoMovie.image }}">
        <div>
            <div class="head-info">
                <p class="title">{{infoMovie.title}}</p>
                <div class="dot" style="width: 50px; height: 50px;" [ngClass]="getColorClass(infoMovie.score)">
                    {{ infoMovie.score }}
                </div>
            </div>
            <div class="body-info">
                <p>
                    Runtime: {{ infoMovie.runtime | minutesConverter}}
                </p>
                <p>
                    Released: {{ infoMovie.releaseDate | dateConverter }}
                </p>
                <p>
                    Genres: {{ infoMovie.genres | genresConverter }}
                </p>
                <p>
                    Rating: {{ infoMovie.rating | ratingConverter }}
                </p>
            </div>
        </div>
    </div>
    <nz-table id="main-table" #basicTable [nzData]="currentMovies" [nzFrontPagination]="true"
        [nzShowPagination]="false">
        <thead>
            <tr>
                <th style="width: 50px;">Image</th>
                <th style="width: 350px;">Title</th>
                <th style="width: 110px;">Runtime</th>
                <th style="width: 225px;">Release Date</th>
                <th style="width: 45px;">Score</th>
                <th style="width: 45px;">Your Score</th>
                <th style="width: 250px;">Genres</th>
                <th style="width: 45px;">Rating</th>
                <th style="width: 75px;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>
                    <img class="image" src="{{ data.image }}">
                </td>
                <td>{{ data.title }}</td>
                <td>{{ data.runtime | minutesConverter}}</td>
                <td>{{ data.releaseDate | dateConverter }}</td>
                <td>
                    <div class="dot" [ngClass]="getColorClass(data.score)">
                        {{ data.score }}
                    </div>
                </td>
                <td>
                    <div class="dot" [ngClass]="getColorClass(data.userScore)">
                        {{ data.userScore }}
                    </div>
                </td>
                <td>{{ data.genres | genresConverter }}</td>
                <td>{{ data.rating | ratingConverter }}</td>
                <td>
                    <div class="buttons">
                        <button nz-button nzType="default" nzShape="circle" (click)="infoRow(data)">
                            <span nz-icon nzType="info-circle" nzTheme="outline"></span></button>
                        <button nz-button nzType="default" nzShape="circle" (click)="modifyRow(data)">
                            <span nz-icon nzType="edit" nzTheme="outline"></span></button>
                        <button nz-button nzType="default" nzShape="circle" (click)="deleteRow(data)">
                            <span nz-icon nzType="delete" nzTheme="outline"></span></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>